# Environnements Python
.venv/
venv/
venv_openlabo/
env/

# Caches Python
__pycache__/
*.py[cod]
*$py.class

# Build / packaging
build/
dist/
*.egg-info/

# Fichiers locaux
.DS_Store
.vscode/

# Fichiers temporaires
*.tmp
~*

# Exports générés localement par l'application
exports/
*_Titration-volumes.csv
*_Titration-correspondance.csv
*_Index-m_tadonn_es.csv
*_Mesures.csv
PRE_*.xlsx
